<div class="row">
  <div class="span8">
    <h1>Popular Users</h1>
    <p class="lead">Most active users</p>
    <%= render partial: 'users/user', collection: @users %>
    <%= will_paginate @users %>
  </div>
  <div class="span4">
  </div>
</div>