<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page for Bloccit.</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>